:root {
  --loader-bg-light: #f5f2ee;

  --main-color: #183457;
  --bg-color: #fffefa;
  --btn-primary-color: #183457;
  --btn-secondary-color: #f5f2ee;
  --bg-annoucement-bar: #f5f2ee;
  --text-color-dark: #000000;
  --text-color-light: #ffffff;
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Playfair Display", serif;
  --danger-color: rgb(255, 0, 0);
  --success-color: rgb(0, 131, 0);

  /* Font Size Mobile */
  --font-size-heading-large-m: 28px;
  --font-size-heading-medium-m: 24px;
  --font-size-heading-small-m: 16px;
  --font-size-text-large-m: 14px;
  --font-size-text-small-m: 12px;
  --font-size-text-Xlsmall-m: 10px;

  /* Font Size Desktop */
  --font-size-heading-large-d: 38px;
  --font-size-heading-medium-d: 32px;
  --font-size-heading-small-d: 28px;
  --font-size-text-large-d: 16px;
  --font-size-text-small-d: 14px;
  --font-size-text-Xlsmall-d: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--bg-color);
}

li {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}

/* Scroll Bar  ====================================================================================================================================================== */

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  border: none !important;
}

::-webkit-scrollbar-thumb {
  background: #183457;
  cursor: pointer;
}

/* Header  ====================================================================================================================================================== */

header {
  height: 110px;
  display: flex;
  flex-direction: column;
}

/* Annoucement Bar */
.uniq-ag-announcement-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35px;
  background-color: var(--bg-annoucement-bar);
}

.uniq-ag-animation-container {
  overflow: hidden;
}

.uniq-ag-announcement-bar p {
  font-size: var(--font-size-text-small-d);
}

/* Navbar  ====================================================================================================================================================== */

.uniq-ag-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
  background-color: #183457;
}

.uniq-ag-navbar-logo {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  align-items: center;
  height: 100%;
}

.uniq-ag-navbar-logo img {
  width: 170px;
  height: auto;
}

.uniq-ag-navbar-menus {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.uniq-ag-navbar-menus menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
  width: 100%;
}

.uniq-ag-navbar-menus menu li a {
  font-family: var(--font-family-primary);
  color: var(--text-color-light);
  font-size: var(--font-size-text-small-d);
}

.uniq-ag-navbar-btns {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
  align-items: center;
  gap: 20px;
}

.uniq-ag-navbar-btns button {
  border: none;
  outline: none;
  background: none;
  color: var(--text-color-light);
  font-size: var(--font-size-heading-medium-d);
  cursor: pointer;
}

.uniq-ag-navbar-cart {
  position: relative;
}

.uniq-ag-cart-badge {
  background: var(--danger-color);
  position: absolute;
  top: -6px;
  right: -8px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-text-Xlsmall-d);
}

.uniq-ag-navbar-hamburger {
  display: none;
}

.uniq-ag-mobile-nav-drawer {
  display: none;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .uniq-ag-navbar-logo {
    width: 25%;
  }

  .uniq-ag-navbar-menus {
    width: 55%;
  }

  .uniq-ag-navbar-btns {
    width: 20%;
  }
}

@media screen and (max-width: 768px) {
  .uniq-ag-navbar {
    justify-content: center;
  }

  .uniq-ag-navbar-logo {
    width: 50%;
    justify-content: flex-start;
  }
  
  .uniq-ag-navbar-logo img {
    width: 130px;
    height: auto;
  }

  .uniq-ag-navbar-menus {
    display: none;
  }

  .uniq-ag-navbar-btns {
    width: 45%;
    justify-content: flex-end;
  }

  .uniq-ag-navbar-hamburger {
    display: block;
  }

  /* NavBar Mobile Drawer */
  .uniq-ag-mobile-nav-drawer {
    display: block;
    position: fixed;
    top: 110px;
    right: 0;
    background-color: var(--bg-color);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    transform: translateX(+100%);
  }

  .uniq-ag-mobile-nav-drawer.mobileDrawerOpen {
    transform: translateX(0%);
  }

  .uniq-ag-mobile-nav-drawer-menu-list {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    background-color: var(--bg-annoucement-bar);
    border-radius: 10px;
  }

  .uniq-ag-mobile-nav-drawer-menu-list li {
    padding: 15px 15px;
    font-size: var(--font-size-text-small-m);
    border-bottom: 1px solid var(--bg-color);
    letter-spacing: 1px;
  }

  .uniq-ag-mobile-nav-drawer-menu-list li a {
    color: var(--text-color-dark);
  }
}

/* footer  ====================================================================================================================================================== */

footer {
  height: 400px;
  background-color: var(--bg-annoucement-bar);
}

.uniq-ag-footer-navbar {
  height: 350px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

.uniq-ag-footer-navbar-menus {
  padding: 10px;
}

.uniq-ag-footer-navbar-menus h1 {
  font-size: var(--font-size-text-large-d);
}

.uniq-ag-footer-navbar-menus menu {
  margin-top: 15px;
}

.uniq-ag-footer-navbar-menus menu li a {
  font-family: var(--font-family-primary);
  color: var(--text-color-dark);
  font-size: var(--font-size-text-small-d);
  margin-bottom: 5px;
}

.uniq-ag-footer-contact-options {
  margin-bottom: 20px;
}

.uniq-ag-footer-contacts {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.uniq-ag-footer-contacts-icon {
  font-size: var(--font-size-text-large-d);
}

.uniq-ag-footer-contacts div {
  font-size: var(--font-size-text-small-d);
  color: var(--text-color-dark);
  display: flex;
  align-items: center;
  gap: 10px;
}

.uniq-ag-footer-contacts div a {
  font-size: var(--font-size-text-small-d);
  color: var(--text-color-dark);
  text-decoration: underline;
}

.uniq-ag-socials {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.uniq-ag-socials a {
  font-size: var(--font-size-heading-small-d);
  color: var(--text-color-dark);
}

@media screen and (max-width: 768px) {
  footer {
    height: 500px;
  }

  .uniq-ag-footer-navbar {
    height: 450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}

/* Copyright  ====================================================================================================================================================== */

.uniq-ag-copyright {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uniq-ag-copyright p {
  font-size: var(--font-size-text-Xlsmall-d);
}

@media screen and (max-width: 768px) {
  .uniq-ag-copyright p {
    font-size: var(--font-size-text-Xlsmall-m);
  }
}

/* Collection Card  ====================================================================================================================================================== */

.uniq-ag-collection-card {
  background-color: var(--bg-annoucement-bar);
  height: 250px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}

.uniq-ag-collection-card-title {
  height: 25px;
  width: 100%;
  text-align: center;
  align-items: center;
}

.uniq-ag-collection-card-title h2 {
  font-size: var(--font-size-text-large-d);
  font-weight: 300;
}

.uniq-ag-collection-card-img {
  height: 225px;
  overflow: hidden;
}

.uniq-ag-collection-card-img img {
  height: 100%;
  border-radius: 20px 20px 0px 0px;
  transition: transform 0.3s ease;
}

.uniq-ag-collection-card-img img:hover {
  transform: scale(1.05);
}

/* Collection List Page  ====================================================================================================================================================== */

.uniq-ag-all-collections {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.uniq-ag-all-collections-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.uniq-ag-all-collections-header h2 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-heading-large-d);
  color: var(--btn-primary-color);
}

.uniq-ag-all-collections-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 30px;
  place-items: center;
}

@media screen and (min-width: 1281px) and (max-width: 1536px) {
  .uniq-ag-all-collections-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .uniq-ag-all-collections-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .uniq-ag-all-collections-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .uniq-ag-all-collections-header h2 {
    font-size: var(--font-size-heading-large-m);
  }

  .uniq-ag-all-collections-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .uniq-ag-collection-card-title h2 {
    font-size: var(--font-size-text-small-m);
    font-weight: 300;
  }
}

/* Collection Page Skeleton/ Loader ====================================================================================================================================================== */

.uniq-ag-collections-loader {
  min-height: 100vh;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.uniq-ag-collections-loader-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.uniq-ag-collections-loader-header h2 {
  height: 40px;
  width: 250px;
  background: linear-gradient(
    to right,
    var(--loader-bg-light) 60%,
    rgba(255, 255, 255, 0.4) 80%,
    var(--loader-bg-light) 100%
  );
  background-size: 200%;
  background-position: 0% 0%;
  animation: pulse 1s ease-in-out infinite;
}

.uniq-ag-collections-loader-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 30px;
  place-items: center;
}

.collection-loader-card {
  width: 90%;
  height: 250px;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(
    to right,
    var(--loader-bg-light) 60%,
    rgba(255, 255, 255, 0.4) 80%,
    var(--loader-bg-light) 100%
  );
  background-size: 200%;
  background-position: 0% 0%;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  100% {
    background-position: 200% 0%;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1536px) {
  .uniq-ag-collections-loader-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .uniq-ag-collections-loader-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .uniq-ag-collections-loader-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .uniq-ag-collections-loader-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Product Card  ====================================================================================================================================================== */

.uniq-ag-product-card {
  height: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uniq-ag-product-image {
  height: 250px;
}

.uniq-ag-product-image img {
  height: 100%;
}

.uniq-ag-product-title {
  height: 110px;
  width: 100%;
  align-items: center;
}

.uniq-ag-product-title h2 {
  font-size: var(--font-size-text-large-d);
  font-weight: 300;
}

.uniq-ag-product-btn {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--btn-secondary-color);
  font-family: var(--font-family-primary);
  text-transform: uppercase;
  color: var(--btn-primary-color);
  cursor: pointer;
}

/* ALL Products of Collection  ====================================================================================================================================================== */

.uniq-ag-all-products {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.uniq-ag-all-products-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.uniq-ag-all-products-header h2 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-heading-large-d);
  color: var(--btn-primary-color);
}

.uniq-ag-all-products-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 50px;
  place-items: center;
}

.uniq-ag-all-products-list {
  display: flex;
  overflow: scroll;
  gap: 20px;
  padding: 0px 20px 30px 20px;
}


.uniq-ag-all-products-list::-webkit-scrollbar-thumb {
  background: #c5d9f1;
  cursor: pointer;
}

@media screen and (min-width: 1281px) and (max-width: 1536px) {
  .uniq-ag-all-products-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .uniq-ag-all-products-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .uniq-ag-all-products-header h2 {
    font-size: var(--font-size-heading-medium-d);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .uniq-ag-all-products-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .uniq-ag-all-products-header h2 {
    font-size: var(--font-size-heading-small-d);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .uniq-ag-all-products-header h2 {
    font-size: var(--font-size-heading-large-m);
  }

  .uniq-ag-all-products-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }

  .uniq-ag-products-card-title h2 {
    font-size: var(--font-size-text-small-m);
    font-weight: 300;
  }

  .uniq-ag-product-image {
    height: 200px;
  }
}

@media screen and (max-width: 481px) {
  .uniq-ag-all-products-header h2 {
    font-size: var(--font-size-heading-large-m);
  }

  .uniq-ag-all-products-list {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }

  .uniq-ag-products-card-title h2 {
    font-size: var(--font-size-text-small-m);
    font-weight: 300;
  }

  .uniq-ag-product-image {
    height: 250px;
  }
}

/* Product Card Skeleton/ Loader  ====================================================================================================================================================== */

.uniq-ag-products-loader {
  min-height: 100vh;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.uniq-ag-products-loader-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.uniq-ag-products-loader-header h2 {
  height: 40px;
  width: 250px;
  background: linear-gradient(
    to right,
    var(--loader-bg-light) 60%,
    rgba(255, 255, 255, 0.4) 80%,
    var(--loader-bg-light) 100%
  );
  background-size: 200%;
  background-position: 0% 0%;
  animation: pulse 1s ease-in-out infinite;
}

.uniq-ag-products-loader-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 50px;
  place-items: center;
}

.products-loader-card {
  width: 90%;
  height: 400px;
  background: linear-gradient(
    to right,
    var(--loader-bg-light) 60%,
    rgba(255, 255, 255, 0.4) 80%,
    var(--loader-bg-light) 100%
  );
  background-size: 200%;
  background-position: 0% 0%;
  animation: pulse 1s ease-in-out infinite;
}

@media screen and (min-width: 1281px) and (max-width: 1536px) {
  .uniq-ag-products-loader-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .uniq-ag-products-loader-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .uniq-ag-products-loader-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .uniq-ag-products-loader-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 481px) {
  .uniq-ag-products-loader-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
