@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Playfair Display", serif; */
/* font-family: "Poppins", sans-serif; */

:root {
  --main-color: #183457;
  --bg-color: #fffefa;
  --btn-primary-color: #183457;
  --btn-secondary-color: #f5f2ee;
  --bg-annoucement-bar: #f5f2ee;
  --text-color-dark: #000000;
  --text-color-light: #ffffff;
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Playfair Display", serif;
  --danger-color: rgb(255, 0, 0);
  --success-color: rgb(0, 131, 0);

  /* Font Size Mobile */
  --font-size-heading-large-m: 28px;
  --font-size-heading-medium-m: 24px;
  --font-size-heading-small-m: 16px;
  --font-size-text-large-m: 14px;
  --font-size-text-small-m: 12px;
  --font-size-text-Xlsmall-m: 10px;

  /* Font Size Desktop */
  --font-size-heading-large-d: 38px;
  --font-size-heading-medium-d: 32px;
  --font-size-heading-small-d: 28px;
  --font-size-text-large-d: 16px;
  --font-size-text-small-d: 14px;
  --font-size-text-Xlsmall-d: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--bg-color);
}

li {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  border: none !important;
}

::-webkit-scrollbar-thumb {
  background: #183457;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
}

header {
  height: 110px;
  display: flex;
  flex-direction: column;
}

.uniq-ag-announcement-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35px;
  background-color: var(--bg-annoucement-bar);
}

.uniq-ag-animation-container {
  overflow: hidden;
}

.uniq-ag-announcement-bar p {
  font-size: var(--font-size-text-small-d);
}

/* Navbar */
.uniq-ag-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
  background-color: #183457;
}

.uniq-ag-navbar-logo {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  align-items: center;
  height: 100%;
}

.uniq-ag-navbar-logo img {
  width: 170px;
  height: auto;
}

.uniq-ag-navbar-menus {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.uniq-ag-navbar-menus menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
  width: 100%;
}

.uniq-ag-navbar-menus menu a li {
  font-family: var(--font-family-primary);
  color: var(--text-color-light);
  font-size: var(--font-size-text-small-d);
}

.uniq-ag-navbar-btns {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
  align-items: center;
  gap: 20px;
}

.uniq-ag-navbar-btns button {
  border: none;
  outline: none;
  background: none;
  color: var(--text-color-light);
  font-size: var(--font-size-heading-medium-d);
  cursor: pointer;
}

.uniq-ag-navbar-cart {
  position: relative;
}

.uniq-ag-cart-badge {
  background: var(--danger-color);
  position: absolute;
  top: -6px;
  right: -8px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-text-Xlsmall-d);
}

.uniq-ag-navbar-hamburger {
  display: none;
}

.uniq-ag-mobile-nav-drawer {
  display: none;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .uniq-ag-navbar-logo {
    width: 25%;
  }
  .uniq-ag-navbar-menus {
    width: 55%;
  }
  .uniq-ag-navbar-btns {
    width: 20%;
  }
}

@media screen and (max-width: 768px) {
  .uniq-ag-navbar {
    justify-content: center;
  }
  .uniq-ag-navbar-logo {
    width: 50%;
    justify-content: flex-start;
  }

  .uniq-ag-navbar-menus {
    display: none;
  }

  .uniq-ag-navbar-btns {
    width: 45%;
    justify-content: flex-end;
  }

  .uniq-ag-navbar-hamburger {
    display: block;
  }

  /* NavBar Mobile Drawer */
  .uniq-ag-mobile-nav-drawer {
    display: block;
    position: fixed;
    top: 110px;
    right: 0;
    background-color: var(--bg-color);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    transform: translateX(+100%);
  }

  .uniq-ag-mobile-nav-drawer.mobileDrawerOpen {
    transform: translateX(0%);
  }

  .uniq-ag-mobile-nav-drawer-menu-list {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    background-color: var(--bg-annoucement-bar);
    border-radius: 10px;
  }

  .uniq-ag-mobile-nav-drawer-menu-list a li {
    padding: 15px 15px;
    font-size: var(--font-size-text-small-m);
    border-bottom: 1px solid var(--bg-color);
    letter-spacing: 1px;
    color: var(--text-color-dark);
  }
}

/* Footer */

footer {
  height: 400px;
  background-color: var(--bg-annoucement-bar);
}

.uniq-ag-footer-navbar {
  height: 350px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

.uniq-ag-footer-navbar-menus {
  padding: 10px;
}

.uniq-ag-footer-navbar-menus h1 {
  font-size: var(--font-size-text-large-d);
}

.uniq-ag-footer-navbar-menus menu {
  margin-top: 15px;
}

.uniq-ag-footer-navbar-menus menu a li {
  font-family: var(--font-family-primary);
  color: var(--text-color-dark);
  font-size: var(--font-size-text-small-d);
  margin-bottom: 5px;
}

.uniq-ag-footer-contact-options {
  margin-bottom: 20px;
}

.uniq-ag-footer-contacts {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.uniq-ag-footer-contacts-icon {
  font-size: var(--font-size-text-large-d);
}

.uniq-ag-footer-contacts div {
  font-size: var(--font-size-text-small-d);
  color: var(--text-color-dark);
  display: flex;
  align-items: center;
  gap: 10px;
}

.uniq-ag-footer-contacts div a {
  font-size: var(--font-size-text-small-d);
  color: var(--text-color-dark);
  text-decoration: underline;
}

.uniq-ag-socials {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.uniq-ag-socials a {
  font-size: var(--font-size-heading-small-d);
  color: var(--text-color-dark);
}

@media screen and (max-width: 768px) {
  footer {
    height: 500px;
  }
  
   
  .uniq-ag-footer-navbar {
    height: 450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}

/* CopyRight */
.uniq-ag-copyright {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uniq-ag-copyright p {
  font-size: var(--font-size-text-Xlsmall-d);
}

@media screen and (max-width: 768px) {
  .uniq-ag-copyright p {
    font-size: var(--font-size-text-Xlsmall-m);
  }
}
