@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Playfair Display", serif; */
/* font-family: "Poppins", sans-serif; */

:root {
  --main-color: #183457;
  --bg-color: #fffefa;
  --btn-primary-color: #183457;
  --btn-secondary-color: #f5f2ee;
  --bg-annoucement-bar :#f5f2ee;
  --text-color: #000000;
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Playfair Display", serif;

  /* Font Size Mobile */
  --font-size-heading-large-m: 24px;
  --font-size-heading-small-m: 16px;
  --font-size-text-large-m: 14px;
  --font-size-text-small-m: 12px;

  /* Font Size Desktop */
  --font-size-heading-large-d: 38px;
  --font-size-heading-small-d: 28px;
  --font-size-text-large-d: 16px;
  --font-size-text-small-d: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--bg-color);
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  border: none !important;
}

::-webkit-scrollbar-thumb {
  background: #183457;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
}


header{
    height: 100px;
}

.sections{
    height: 500vh;
}

header{
  height: 100px;
  display: flex;
  flex-direction: column;
}

.uniq-ag-announcement-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35px;
  background-color: var(--bg-annoucement-bar);
}

.uniq-ag-announcement-bar p{
  font-size: var(--font-size-text-small-d);
}